.languageSwitcher{
   height: 30px;
   border: none;
   box-shadow: 0px 2px 3px #00000010;
   border-radius: 5px;
   width: 70px;
   font-size: 16px;
   font-family: inherit;
}
.languageSwitcher > option:hover{
   box-shadow: 0 0 10px 100px red inset;
}
.languageSwitcher:focus-visible{
   outline: none;
}